# =========================
# LOGS
# =========================

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =========================
# REPORTS
# =========================

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =========================
# RUNTIME DATA
# =========================

pids
*.pid
*.seed
*.pid.lock

# =========================
# MAC / WINDOWS
# =========================

.DS_Store

# =========================
# COVERAGE
# =========================

coverage
*.lcov
.nyc_output

# =========================
# BUILD FILES
# =========================

build/Release
.next
.nuxt
.vuepress/dist
.webpack/
.vite/
out/

# =========================
# NODE MODULES
# =========================

node_modules/
jspm_packages/

# =========================
# TYPESCRIPT
# =========================

typings/
*.tsbuildinfo

# =========================
# CACHE
# =========================

.cache
.npm
.eslintcache

# =========================
# HISTORY
# =========================

.node_repl_history

# =========================
# PACKAGE FILES
# =========================

*.tgz

# =========================
# YARN
# =========================

.yarn-integrity

# =========================
# ENV FILES
# =========================

.env
.env.test

# =========================
# SERVERLESS
# =========================

.serverless/
.fusebox/
.dynamodb/

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc

# =========================
# VECTOR DATABASE
# =========================

chroma_memory/

# =========================
# OLLAMA TEMP
# =========================

*.bin